.cookie-banner {
    background-color: #424140;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.cookie-banner p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 5px;
    }
}
