.cb {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: linear-gradient(180deg, #4e4e4e, #232323); /* Customize as needed */
	width: 100%;
	height: 150px;
	padding: 0 20px;
	box-sizing: border-box;
  }
  
  .cb-image {
	border-radius: 50%;
	border: 2px solid white;
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	margin-right: 20px;
  }
  
  .cb-content {
	flex-grow: 1;
	border-left: 2px solid white;
	padding-left: 20px;
  }
  
  .cb-content h3 {
	margin: 0;
	color: white;
  }
  
  @media (max-width: 768px) {
	.cb {
	  flex-direction: column;
	  text-align: center;
	}
  
	.cb-content {
	  border-left: none;
	  padding-left: 0;
	  padding-top: 20px;
	}
  
	.cb-image {
	  max-width: 70px;
	  max-height: 70px;
	  margin-bottom: -9px;
	  margin-top: 9px;
	}
  }
  